{% extends 'base.html'%}
{%block content%}

    <div class="container">
      <h1>This is a {{title}} page</h1>
    </div>

      <div class="input-group">
          <form class = "file-form" action="{{ url_for('result')}}" method="post", enctype="multipart/form-data">
              <input class="file-form-input" type="file" , name = "file"/>
              <button class="btn btn-secondary btn-lg">Upload</button> 
          </form>
      </div>

      <!-- <div class = "header-content-sub">
              <p style = "text-align: center; margin-top: 15px;color: red" class="header-content-info">{{error}}</p>
            </div>
          -->
{%endblock%}