{% extends 'base.html'%}
{%block content%}

<div class="container text-center">
    <h1>Help Page</h1>
</div>

<div class="container">
    <div class="row"> 
      <div class="col-md-5 order-1 ">
        <img src="static/appImg/selectModel.PNG" class="rounded" alt="fish" style="width: 250px; height: 250px;">
        
      </div>
      <div class="col-md-4 order-2">
        <h5 class="heading">Step 1 </h5>
        <p class="lead"> Select the model you would like to use from the 'Choose Model' dropdown button</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row"> 
      <div class="col-md-5 order-1 ">
        <img src="static/appImg/selectImage.PNG" class="rounded" alt="fish" style="width: 250px; height: 250px;">
        
      </div>
      <div class="col-md-4 order-2">
        <h5 class="heading">Step 2 </h5>
        <p class="lead"> Select or take a picture of the Fish you want to classify and press upload</p>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row"> 
      <div class="col-md-5 order-1 ">
        <img src="static/appImg/Result.PNG" class="rounded" alt="fish" style="width: 250px; height: 250px;">
        
      </div>
      <div class="col-md-4 order-2">
        <h5 class="heading">Step3 </h5>
        <p class="lead"> The results page will show with the image passed in and a table of the fishes probablilty</p>
      </div>
    </div>
  </div>
  
{%endblock%}