{% extends 'base.html'%}
{%block content%}

    <div class="container text-center">
      <h1>Classifier for your fishing</h1>
    </div>
    <div class=" container text-center">
      <p>A Fish species classifier for your fishing needs, currently the model supports 30 common species that can be found in British and European Waters</p>
    </div>

    <!--<div class="row featurette">
      <img src="static/appImg/classificationResultEample.PNG" class="rounded" alt="fish" style="width: 500px; height: 500px;">
    </div>
  -->
  <br><br>
    <div class="container">
      <div class="row"> 
        <div class="col-md-4 order-1 ">
          <img src="static/appImg/classificationResultEample.PNG" class="rounded" alt="fish" style="width: 250px; height: 250px;">
          
        </div>
        <div class="col-md-4 order-2">
          <h3 class="heading">Classification of Northern Pike </h3>
          <p class="lead"> Heres the MobileNetv2 Model classifiying a sample of a Northern Pike, It predicted it with 86% probablilty!</p>
        </div>
      </div>
    </div>
    <!-- adapted from https://getbootstrap.com/docs/5.0/examples/carousel/ (accessed 25/04/23)-->
{%endblock%}
