{% extends 'base.html'%}
{%block content%}

    <div class="container text-center mb-3">
      <h1> {{title}} Model page</h1>
    </div>


    <div class="container d-flex justify-content-center">
        <form class = "file-form" action="{{ url_for('result')}}" method="post", enctype="multipart/form-data">
            <div class="mb-3">
              <input class="file-form-input" type="file" , name = "file"/>
            </div>
            <br>
            <div class="mb-3">
              <button class="btn btn-secondary btn-lg">Upload</button> 
            </div>
        </form>
    </div>
      <!-- <div class = "header-content-sub">
              <p style = "text-align: center; margin-top: 15px;color: red" class="header-content-info">{{error}}</p>
            </div>
          -->
{%endblock%}